body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}


.popup-container{
  background: white;
  display: inline-block;
}

/*If user hasn't logged in */
.must-auth .saved-box{
  display: none;
}

.must-auth #login-form{
  display: block;
}
/*  */


.saved-box{
  display: inline-block;
  text-align: center;
}

.saved-box h2{
  font-size: 24px;
  padding: 32px;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
}

#eego-link {
  padding-bottom: 2px;
}

.link {
  color: #7A3DFE;
  margin-bottom: 48px !important;
  outline: 0;
  text-decoration: none;
}

.link:hover {
  border-bottom: 2px solid #7A3DFE;;
}


form{
  display: none;
  margin: 32px;
  min-width: 240px;
}

form h1{
  color: black;
  cursor: pointer;
  display: block;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 42px;
  outline: none;
  position: relative;
}

form p{
  color: #999999;
  font-size: 12px;
}

form .field{
  background-color: #F2F2F2;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 36px;
  margin: 0px 0 32px 0;
  outline: none;
  padding-left: 16px;
  text-align: left;
  width: 100%;
}

form .button{
  border: 1px solid black;
  background: black;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  height: 62px;
  outline: none;
  padding: 16px 0px;
  text-align: center;
  width: 100%;
}

form .button:hover{
  background: #0366D6;
  border: 1px solid #0366D6;
}

form h6.signup{
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 32px auto;
  text-align: center;
}

form h6.signup a{
  color: #0366D6;
  text-decoration: none;
  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

form h6.signup a:hover{
  opacity: 0.75;
}
